:root {
	--x1:118px;	  
	--y1:22px;
	--xbtn:60px;	  
	--ybtn:90px;
	--xM:110px;	  
	--yM:60px;  
	--x1a:calc(var(--x1) + 170px);
	--y1a:calc(var(--y1) + 10px);

	/*	
      --x1a:calc(var(--x1) + 80px);
      --y1a:calc(var(--y1) - 15px); 
    */
   
}
  
/* NÃO ALTERAR -------------------------- */
  
.caixatxt {
	position:absolute;	
	width: 75px;
	height:30px;
	font-size:25px;	
	font-family: "Open Sans", sans-serif;
	font-weight:700;
	text-align:center;	
	color:#34495e;
	border: 2px solid #008CBA;
	border-radius: 5px;
}

.caixatxt:focus {	
	border: 3px solid #E9E9E9;
	background-color:rgba(236 242 248 / 20%);
}

.caixatxt::-webkit-inner-spin-button {
	appearance: none;
	margin: 0;
}

/* ------ */

.imagem1{
	position:absolute;
	left:var(--x1a);
	top:var(--y1a);
}

.imagem2{
	position:absolute;
	left:var(--x2a);
	top:var(--y2a);
}

.imagem3{
	position:absolute;
	left:var(--x3a);
	top:var(--y3a);
}

/* ------ */

.p1 {		
	left:var(--x1);
	top:var(--y1);
}

.pbtn {	
	left:var(--xbtn);
	top:var(--ybtn);
}

.pMensagem {	
	left:var(--xM);
	top:var(--yM);
}