/* NÃO ALTERAR -------------------------- */
  
.caixatxt {
    position:absolute;	
    width: 55px;
    height:40px;
    font-size:25px;	
    font-family: "Open Sans", sans-serif;
    font-weight:700;
    text-align:center;	
    color:#34495e;
    border: 2px solid #008CBA;
    border-radius: 5px;
}

.caixatxt:focus {	
    border: 3px solid #E9E9E9;
    background-color:rgba(236 242 248 / 20%);
}
  
/* ------ */
  
.imagem1{
    position:absolute;
    left:120px;
    top:10px;
}
  
.imagem2{
    position:absolute;
    left:260px;
    top:10px;
}
  
/* ------ */

.p1 {
    left:75px;
    top:35px;
}

.p2 {
    left:215px;
    top:35px;
}

.pbtn {
    left:60px;
    top:90px;
}

.pMensagem {
    left:110px;
    top:80px;
}