/*default version*/
@font-face {
	font-family: 'OpenDyslexic';
	src: url(/fonts/OpenDyslexic-Regular.ttf); 	
}

@font-face {
	font-family: 'Open Sans';
	src: url(/fonts/OpenSans-Regular.ttf); 	
}

@font-face {
	font-family: 'ArchivoBlack';
	src: url(/fonts/ArchivoBlack-Regular.ttf); 	
}




